.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../assets/natural.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.label {
  font-size: 1.1rem;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 250px;
  height: 20px;
  border-radius: 35px;
}

.input-field {
  width: 500px;
  /* Custom width */
  height: 40px;
  /* Taller input field */
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.labelbox {
  width: 560px;
  /* Increased from 350px */
  height: 40px;
  border-radius: 15px;
  color: black;
  background-color: white;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.label-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}

h1 {
  color: #007bff;
  margin-bottom: 20px;
}

input.input-field {
  width: 500px !important;
  height: 40px;
  font-size: 1rem;
}

.form-control.input-field {
  width: 400px !important;
}



.form-container {
  width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.error-text {
  color: violet;
  margin-top: 5px;
  font-size: 1rem;
}